<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{change_password}">Bosh sahifa</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:text="#{home}">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/user/profile" th:text="#{account}">Akkaunt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/prixod-tovar/list" th:text="#{prixod}">Tovar kirishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/rasxod-tovar/list" th:text="#{rasxod}">Tovar chiqishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/vozvrat-tovar/list" th:text="#{vozvrat}">Tovar qaytarilishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/tovar/list" th:text="#{tovar}">Tovar</a>
                </li>
            </ul>
            <a th:href="'/language?lang='+${langs}+'&path='+${path}"><button type="button" class="btn btn-primary" style="margin-right: 10px" name="lang" th:text="#{${langs}}"></button></a>
            <form class="d-flex" action="#" role="search">
                <input class="form-control me-2" type="search" name="name" required th:placeholder="#{input}" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" th:text="#{search}" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>

<form action="#">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card w-40"> <!-- Kenglikni w-50 qilib sozladik -->
            <div class="card-body">
                <h1 class="text-success text-center">Formani yaratish</h1>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" required>

                <div class="mb-3">
                    <input type="password" id="2" name="oldPswd" class="form-control" th:placeholder="#{old_pswd}" placeholder="Eski parol">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="3" name="newPswd" th:placeholder="#{new_pswd}" placeholder="Yangi parol">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="4" name="confirmPswd" th:placeholder="#{confirm_pswd}" placeholder="Yangi parolni tasdiqlash">
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Saqlash" th:text="#{save}">
                    <a href="https://pdp.uz"><button type="button" class="btn btn-danger" th:text="#{cancel}">Bekor qilish</button></a>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>