<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login}">Bosh sahifa</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<form method="post" enctype="application/x-www-form-urlencoded">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card w-49"> <!-- Kenglikni w-50 qilib sozladik -->
            <div class="card-body">
                <h1 class="text-success text-center" th:text="#{login}"></h1>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" required>

                <div class="mb-3">
                    <input type="text" id="2" name="username" class="form-control" th:placeholder="#{_login}" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="3" name="password" th:placeholder="#{parol}" required>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" th:value="#{login}">
                </div>
                <a th:href="'/language?lang='+${langs}+'&path='+${path}"><button type="button" class="btn btn-primary" style="margin-right: 10px" name="lang" th:text="#{${langs}}"></button></a>
            </div>
        </div>
    </div>
</form>

</body>
</html>