<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account}"></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:text="#{home}">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/user/profile" th:text="#{account}">Akkaunt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/prixod-tovar/list" th:text="#{prixod}">Tovar kirishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/rasxod-tovar/list" th:text="#{rasxod}">Tovar chiqishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/vozvrat-tovar/list" th:text="#{vozvrat}">Tovar qaytarilishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/tovar/list" th:text="#{tovar}">Tovar</a>
                </li>
            </ul>
            <a th:href="'/language?lang='+${langs}+'&path='+${path}"><button type="button" class="btn btn-primary" style="margin-right: 10px" name="lang" th:text="#{${langs}}"></button></a>
            <form class="d-flex" action="/tovar/list" role="search">
                <input class="form-control me-2" type="search" name="search" required th:placeholder="#{input}" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" th:text="#{search}" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<form th:action="'/user/update/'+${response.data.id}" method="post" enctype="multipart/form-data">
    <div class="container d-flex justify-content-center align-items-center vh-90">
        <div class="card w-50"> <!-- Kenglikni w-50 qilib sozladik -->
            <div class="card-body">
                <h1 class="text-success text-center" th:text="#{user}"></h1>
                <!--<div class="mb-3">
                    <span th:text="#{id}"></span>
                    <input type="button" name="id" class="form-control" th:value="${response.data.id}">
                </div>-->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <div class="mb-3">
                    <span th:text="#{ism}"></span>
                    <input type="text" class="form-control" name="ism" th:placeholder="#{ism}" th:value="${response.data.ism}" required>
                </div>
                <div class="mb-3">
                    <span th:text="#{familya}"></span>
                    <input type="text" class="form-control" name="familya" th:placeholder="#{familya}" th:value="${response.data.familya}" required>
                </div>
                <div class="mb-3">
                    <span th:text="#{login}"></span>
                    <input type="text" class="form-control" name="login" th:placeholder="#{login}" th:value="${response.data.login}" required>
                </div>
                <div class="mb-3">
                    <span th:text="#{telefon}"></span>
                    <input type="text" class="form-control" name="telefonRaqam" th:placeholder="#{telefon}" th:value="${response.data.telefonRaqam}" required>
                </div>
                <div class="mb-3">
                    <span th:text="#{lavozim}"></span>
                    <input type="text" class="form-control" th:value="${response.data.lavozim}" readonly>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-success" th:value="#{edit}">
                    <a sec:authorize="hasAnyRole('DIRECTOR')" href="/user/list"><button type="button" class="btn btn-primary" th:text="#{users}"></button></a>
                    <a href="/auth/logout" type="button" class="btn btn-danger" th:text="#{logout}"></a>
                    <a href="/user/profile"><button type="button" class="btn btn-danger" th:text="#{cancel}"></button></a>
                </div>
                <br>
                <a th:href="'/user/change-password/'+${response.data.id}" th:text="#{change_password}"></a>
            </div>
        </div>
    </div>
</form>
</body>
</html>