<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account}"></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:text="#{home}">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/user/profile" th:text="#{account}">Akkaunt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasAnyRole('DIRECTOR','SKLADCHI')" href="/prixod-tovar/list" th:text="#{prixod}">Tovar kirishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasAnyRole('DIRECTOR','KASSIR')" href="/rasxod-tovar/list" th:text="#{rasxod}">Tovar chiqishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/vozvrat-tovar/list" th:text="#{vozvrat}">Tovar qaytarilishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/tovar/list" th:text="#{tovar}">Tovar</a>
                </li>
            </ul>
            <a th:href="'/language?lang='+${langs}+'&path='+${path}"><button type="button" class="btn btn-primary" style="margin-right: 10px" name="lang" th:text="#{${langs}}"></button></a>
        </div>
    </div>
</nav>

<div class="card">
    <div class="card-body">
        <form action="/user/list" method="get" enctype="application/x-www-form-urlencoded">
            <div class="d-flex" style="margin-bottom: 10px">
                <div class="mr-2" style="margin-right: 10px">
                    <input class="form-control w-auto" type="date" name="fromDate" th:value="${request.fromDate}">
                </div>
                <br>
                <div class="mr-2" style="margin-right: 10px">
                    <input type="date" class="form-control w-auto" name="toDate" th:value="${request.toDate}">
                </div>
                <br>
                <div class="mr-2" style="margin-right: 10px">
                    <input type="text" class="form-control w-auto" name="search" th:value="${request.search}">
                </div>
                <br>
                <!--<div class="mr-2" style="margin-right: 10px">
                    <select class="form-control w-auto" name="month" required>
                        &lt;!&ndash;<option th:each="l:${langs}" th:text="#{l}" th:value="${l}"
                                th:attr="selected=${m.name() == #localeContext.locale.displayName ? 'selected' : ''}">
                        </option>&ndash;&gt;
                    </select>
                </div>
                <br>-->
                <input type="submit" style="margin-right: 30px" class="btn btn-success" th:value="#{search}">
                <br>
                <div class="mr-2">
                    <a class="btn btn-primary" href="/user/create" th:text="#{create}"></a>
                </div>
            </div>
        </form>
        <style>
            th,td{
                text-align: center;
            }
        </style>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th><h3 th:text="#{id}"></h3></th>
                <th><h3 th:text="#{added}"></h3></th>
                <th><h3 th:text="#{ism}"></h3></th>
                <th><h3 th:text="#{familya}"></h3></th>
                <th><h3 th:text="#{_login}"></h3></th>
                <th><h3 th:text="#{telefon}"></h3></th>
                <th><h3 th:text="#{lavozim}"></h3></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r:${response.data}">
                <td><a th:href="'/user/find/'+${r.id}"><h3 th:text="${r.id}"></h3></a></td>
                <td><h3 th:text="${r.createdAt}"></h3></td>
                <td><h3 th:text="${r.ism}"></h3></td>
                <td><h3 th:text="${r.familya}"></h3></td>
                <td><h3 th:text="${r.login}"></h3></td>
                <td><h3 th:text="${r.telefonRaqam}"></h3></td>
                <td>
                    <form action="/user/change-role" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="d-flex">
                            <div class="mr-2">
                                <input type="text" class="form-control w-auto" th:if="${currentUser.user.id.equals(r.id)}" th:value="#{${r.lavozim}}" readonly>
                                <select class="form-control w-auto" name="lavozim" th:unless="${currentUser.user.id.equals(r.id)}">
                                    <option th:each="l:${r.lavozimlar}" th:text="#{${l}}" th:value="${l}"></option>
                                </select>
                                <input type="hidden" name="id" th:value="${r.id}">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            </div>
                            <div class="mr-2" style="margin-left: 20px">
<!--                                <input th:if="${currentUser.user.id.equals(r.id)}" type="button" class="btn btn-warn" th:value="#{change}">-->
                                <input th:unless="${currentUser.user.id.equals(r.id)}" type="submit" class="btn btn-success" th:value="#{change}">
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" style="margin-top: 20px">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/tovar/list(page=${response.pagination.left}, fromDate=${request.fromDate}, toDate=${request.toDate}, search=${request.search})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <div th:each="p: ${response.pagination.pages}">
                    <li class="page-item"><a class="page-link" th:href="@{/tovar/list(page=${p}, fromDate=${request.fromDate}, toDate=${request.toDate}, search=${request.search})}" th:text="${p}+1"></a></li>
                </div>
                <li class="page-item">
                    <a class="page-link" th:href="@{/tovar/list(page=${response.pagination.right}, fromDate=${request.fromDate}, toDate=${request.toDate}, search=${request.search})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>