<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home}">Bosh sahifa</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:text="#{home}">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/user/profile" th:text="#{account}">Akkaunt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasAnyRole('DIRECTOR','SKLADCHI')" href="/prixod-tovar/list" th:text="#{prixod}">Tovar kirishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasAnyRole('DIRECTOR','KASSIR')" href="/rasxod-tovar/list" th:text="#{rasxod}">Tovar chiqishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/vozvrat-tovar/list" th:text="#{vozvrat}">Tovar qaytarilishi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/tovar/list" th:text="#{tovar}">Tovar</a>
                </li>
            </ul>
            <a th:href="'/language?lang='+${langs}+'&path='+${path}"><button type="button" class="btn btn-primary" style="margin-right: 10px" name="lang" th:text="#{${langs}}"></button></a>
            <form class="d-flex" action="#" role="search">
                <input class="form-control me-2" type="search" name="name" required th:placeholder="#{input}" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" th:text="#{search}" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
    <div class="container d-flex justify-content-center align-items-center vh-90">
        <div class="card w-50"> <!-- Kenglikni w-50 qilib sozladik -->
            <div class="card-body">
                <h1 class="text-success text-center">Forma haqida</h1>
                <div class="mb-3">
                    <input type="text" id="2" name="o_p" class="form-control" placeholder="1-polya">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="3" name="n_p" placeholder="2-polya">
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" id="4" name="c_p" placeholder="3-polya">
                </div>
                <div class="text-center">
                    <a href="https://online.pdp.uz"><button type="submit" class="btn btn-success" th:text="#{edit}">Tahrirlash</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>